body {
    background: linear-gradient(to right, #080F28, #dda90e, #080F28);
    background-size: 200% 200%;
    animation: animatedBackground 8s infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: #dda90e;
    animation: animatedBackground 8s infinite;
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #080F28;
}
h1 {
    font-size: 40px;
    color: #080F28;
    margin-top: 20px;
}

.input-wrapper label, .input-wrapper input[type=text] {
    margin: 5px;
}

.button, .toggle-button {
    width: 150px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    text-align: center;
}


.button {
    background-color: #080F28;
    color: #dda90e;
    transition-duration: 1.5s;
    font-size: 18px;
    margin-right: 10px;
}

.button:hover {
    background-color: white;
}
.button-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.special-button{
    background-color: white;
}
.special-button:hover {
    background-color: #080F28;
}    

#result, #betting {
    font-size: 20px;
    margin-top: 10px;
    background-color: #080F28;
    padding: 10px;
    color: white;
}
/* Media queries para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .center {
        width: 90%;
        max-width: 400px;
    }

    .button span, .toggle-button span {
        display: none; /* Ocultar el texto */
    }
}
@media screen and (max-width: 480px) {
    .button, .toggle-button {
        width: 80px;
        height: 30px;
        font-size: 15px;
        padding: 0; /* Eliminar el relleno para que los iconos ocupen todo el espacio */
    }

    .button span {
        display: none; /* Ocultar el texto */
    }
}
