@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap');
$Strong-cyan: hsl(45, 100%, 50%);
$Strong-cyan-two: hsl(45, 86%, 45%);
$Strong-cyan-three: hsl(6.86, 69.54%, 29.61%);
$Very-dark-cyan: hsl(235.14, 45.68%, 15.88%);
$Very-dark-cyan-three: hsl(55.93, 86.17%, 63.14%);
$Very-dark-cyan-two: hsl(240, 25.81%, 24.31%);
$Very-dark-cyan-four: hsl(352.94, 74.56%, 55.29%);
$Dark-grayish-cyan: hsl(219, 60%, 28%);
$Grayish-cyan: hsl(220, 14%, 56%);
$Light-grayish-cyan: hsl(220, 41%, 84%);
$Very-lightgrayish-cyan: hsl(220, 41%, 97%);
$White: hsl(0, 0%, 100%);

$font: 'Space Mono', monospace;