@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap');
$Strong-cyan: hsl(45, 100%, 50%);
$Strong-cyan-two: hsl(45, 86%, 45%);
$Very-dark-cyan: hsl(220, 100%, 15%);
$Very-dark-cyan-two: hsl(221, 39%, 35%);
$Dark-grayish-cyan: hsl(219, 60%, 28%);
$Grayish-cyan: hsl(220, 14%, 56%);
$Light-grayish-cyan: hsl(220, 41%, 84%);
$Very-lightgrayish-cyan: hsl(220, 41%, 97%);
$White: hsl(0, 0%, 100%);

$font: 'Space Mono', monospace;