@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap');
$Yellow: #FFC700;
$Blue-Navi: #007F73;
$Wedding: #FFF455;
$Turquesa: #4CCD99;
$Mint: #4CCD99;

$font: 'Space Mono', monospace;