@use "variables";

@use "inicial";

@use "mixins";


.header-titulo{
    text-align: center;
    color: variables.$Blue-Navi;
    font-size: 1em;
    margin: 30px 0;
    letter-spacing: 8px;
}
.pressed-titulo{
    margin: 10px 0;
}

.calculadora-container{
    background-color: white;
    width: 375px;
    margin: auto;
    border-radius: 16px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hidden{
    display: none;
}

///////////////////
/// Inputs  ///

.input-seccion{
    &__odd-label{
        @include mixins.label;
    }

    &__odd-input{
        @include mixins.input('../images/sure.svg');
        background-color: variables.$Wedding;
    }
    &__monto-label{
        @include mixins.label;
    }
    &__monto-input{
        @include mixins.input('../images/icon-dollar-three.svg');
        background-color: variables.$Wedding;
    }
    &__titulo{
        font-size: 0.8em;
        color: variables.$Blue-Navi;
        margin-bottom: 10px;
    }
}

.input-seccion-v4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &__odd-input {
        @include mixins.input('../images/chart-pie-alt.svg');
        background-color: variables.$Wedding;
      }
}

///////////////////////
/// Botones  ///

.btns{
    @include mixins.btns;
    margin-bottom: 15px;
    grid-template-columns: 1fr 1fr;
}

  
.btns__boton{
    width: 147px;
    height: 45px;
    font-size: 1em;
    @include mixins.btns-boton(variables.$Blue-Navi);
    &__custom{
        background-color: variables.$Blue-Navi;
        width: 100%;
        &:hover{
            cursor: pointer;
            background-color: variables.$Yellow;
        }
        &__add{
            background-color: variables.$Mint;
            width: 100%;
            color: variables.$Blue-Navi;
            &:hover{
                cursor: pointer;
                background-color: variables.$Wedding;
            }
        }
    }
    
}

.btns-status{
    @include mixins.btns;
    margin-bottom: 15px;
    grid-template-columns: 1fr;
}


.btns-status__boton{
    @include mixins.boton-status(variables.$Blue-Navi);
    &.isSurbet{
        background-color: #FFC700;
        color: white;
    }
    &.noSurbet{
        background-color: #4CCD99;
        color: white;
    }
}

///////////////////////
/// Resultados  ///

.result-seccion{
    background-color: variables.$Blue-Navi;
    border-radius: 8px;
    padding: 32px 24px 24px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__odd{ 
        font-size: 0.6em;
        color: whitesmoke;
    }
    &__valor{
        font-size: 0.65em;
        color: variables.$Wedding;
    }
    &__tip-odd{
        font-size: 0.9em;
        color: variables.$Yellow;
        text-align: right;
    }
    &__result-abajo{
        display: grid;
        font-size: 0.6em;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
        color: variables.$Yellow;
        &__porcentaje{
            background: url('../images/percentage.svg') no-repeat 10px center;
            background-size: 0.8em;
            padding-left: 30px;
        }
        &__ganancia{
            background: url('../images/icon-dollar.svg') no-repeat 10px center;
            background-size: 0.8em;
            padding-left: 30px;
        }

    }
    
}

.result-seccion__reset{
    background-color: variables.$Mint;
    font-family: variables.$font;
    color: variables.$Blue-Navi;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1em;
    height: 50px;
    margin-top: 10px;
    transition-duration: 1s;
    &:hover{
        cursor: pointer;
        background-color: variables.$Wedding;
    }
}

///////////////////////
/// footer  ///
  
.attribution { 
    font-family: variables.$font;
    font-size: 14px; 
    text-align: center; 
    margin: 10px 0;
}
.attribution a { 
    color: variables.$Blue-Navi;
    font-size: 15px;
    
}
///////////////////////
/// Media Queries  ///

///////////////////////////
///////  Desktop   ///////
@media (min-width: 1024px){
    .header-titulo{
        margin: 30px 0 30px;
        font-size: 1.2em;
    }

    .calculadora-container{
        width: 900px;
        display: flex;
        gap: 50px;
    
    }
    .inputs-seccion{
        flex : 1;
    }

    .result-seccion{
        flex: 1;
    }

    .btns{
        &__boton{
            width: 120px;
        }
        
    }
    .btns__boton{
        width: 100%;
    }
    .attribution{
        margin: 100px 0 100px;
    }   
}