@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  color: hsl(235.14, 45.68%, 15.88%);
  background-color: hsl(220, 41%, 84%);
  font-family: "Space Mono", monospace;
  position: relative;
  margin: 0;
  min-height: 100vh;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.nav-2 {
  display: none;
}

a,
a:visited,
a:active {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: hsl(235.14, 45.68%, 15.88%);
}
a:hover,
a:visited:hover,
a:active:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.wrapper {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
}

.topnav {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-around; /* Coloca el título al principio y la navegación al final */
  align-items: center;
  gap: 10rem;
}
.topnav button {
  background: none;
  border: none;
  padding: 0;
}
@media (width >= 40em) {
  .topnav button {
    display: none;
  }
}
.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}
@media (prefers-reduced-motion) {
  .topnav__open[aria-expanded=true] + .topnav__menu {
    opacity: 1;
  }
}
.topnav__close {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 8rem;
}
.topnav__close img {
  width: 2.5rem;
}
@media (width < 40em) {
  .topnav__menu {
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    background-color: hsl(220, 41%, 84%);
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }
}
@media (width < 40em) and (prefers-reduced-motion) {
  .topnav__menu {
    translate: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}
.topnav__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}
.topnav__item {
  list-style-type: none;
}

.header-titulo {
  text-align: center;
  color: hsl(235.14, 45.68%, 15.88%);
  font-size: 1em;
  margin: 30px 0;
  letter-spacing: 8px;
}

.pressed-titulo {
  margin: 10px 0;
}

.calculadora-container {
  background-color: hsl(0, 0%, 100%);
  width: 375px;
  margin: auto;
  border-radius: 16px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

.input-seccion__odd-label {
  color: hsl(219, 60%, 28%);
  font-size: 0.75em;
  margin-bottom: 3px;
}
.input-seccion__odd-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: hsl(45, 100%, 50%);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: hsl(220, 41%, 97%);
  background: url("../images/sure.svg") no-repeat 10px center;
  background-color: hsl(220, 41%, 97%);
}
.input-seccion__odd-input:hover {
  cursor: pointer;
}
.input-seccion__odd-input:focus {
  outline: none;
  border: 2px solid hsl(45, 100%, 50%);
}
.input-seccion__odd-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-seccion__monto-label {
  color: hsl(219, 60%, 28%);
  font-size: 0.75em;
  margin-bottom: 3px;
}
.input-seccion__monto-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: hsl(45, 100%, 50%);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: hsl(220, 41%, 97%);
  background: url("../images/icon-dollar-two.svg") no-repeat 10px center;
  background-color: hsl(220, 41%, 84%);
}
.input-seccion__monto-input:hover {
  cursor: pointer;
}
.input-seccion__monto-input:focus {
  outline: none;
  border: 2px solid hsl(45, 100%, 50%);
}
.input-seccion__monto-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-seccion__titulo {
  font-size: 0.8em;
  color: hsl(219, 60%, 28%);
  margin-bottom: 10px;
}

.input-seccion-v4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input-seccion-v4__odd-label {
  display: none;
}
.input-seccion-v4__odd-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: hsl(45, 100%, 50%);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: hsl(220, 41%, 97%);
  background: url("../images/sure.svg") no-repeat 10px center;
  background-color: hsl(220, 41%, 97%);
}
.input-seccion-v4__odd-input:hover {
  cursor: pointer;
}
.input-seccion-v4__odd-input:focus {
  outline: none;
  border: 2px solid hsl(45, 100%, 50%);
}
.input-seccion-v4__odd-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns {
  border: none;
  display: grid;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  grid-template-columns: 1fr 1fr;
}

.btns-status {
  border: none;
  display: grid;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  grid-template-columns: 1fr;
}

.btns-status-pressed {
  border: none;
  display: grid;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
}

.pressed-status {
  margin-bottom: 1px;
}

.btns-status__boton {
  width: 100%;
  height: 30px;
  font-size: 0.8em;
  font-family: "Space Mono", monospace;
  border: none;
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(to right, hsl(235.14, 45.68%, 15.88%), hsl(45, 100%, 50%));
}

.pressed {
  width: 147;
  font-size: 1em;
  height: 45px;
}

.btns__boton {
  width: 147px;
  height: 45px;
  font-size: 1em;
  background-color: hsl(235.14, 45.68%, 15.88%);
  font-family: "Space Mono", monospace;
  border: none;
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
  transition-duration: 1s;
}
.btns__boton:hover {
  cursor: pointer;
  background-color: hsl(235.14, 45.68%, 15.88%);
}
.btns__boton__custom {
  background-color: hsl(219, 60%, 28%);
  width: 100%;
}
.btns__boton__custom__add {
  background-color: hsl(45, 100%, 50%);
  width: 100%;
}
.btns__boton__custom__add:hover {
  cursor: pointer;
  background-color: hsl(45, 86%, 45%);
}

.error {
  border: 2px solid red;
}

.result-seccion {
  background-color: hsl(235.14, 45.68%, 15.88%);
  border-radius: 8px;
  padding: 32px 24px 24px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultado {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.resultado__odd {
  font-size: 0.5em;
  color: hsl(220, 41%, 97%);
}
.resultado__valor {
  font-size: 0.65em;
  color: hsl(220, 41%, 84%);
}
.resultado__tip-odd {
  font-size: 0.9em;
  color: hsl(45, 100%, 50%);
  text-align: right;
}
.resultado__result-abajo {
  display: grid;
  font-size: 0.5em;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  color: hsl(220, 41%, 84%);
}
.resultado__result-abajo__porcentaje {
  background: url("../images/percent.svg") no-repeat 10px center;
  background-size: 0.8em;
  padding-left: 30px;
}
.resultado__result-abajo__ganancia {
  background: url("../images/icon-dollar.svg") no-repeat 10px center;
  background-size: 0.8em;
  padding-left: 30px;
}

.result-seccion__reset {
  background-color: hsl(45, 100%, 50%);
  font-family: "Space Mono", monospace;
  color: hsl(235.14, 45.68%, 15.88%);
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 1em;
  height: 50px;
  margin-top: 10px;
  transition-duration: 1s;
}
.result-seccion__reset:hover {
  cursor: pointer;
  background-color: hsl(45, 86%, 45%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 1px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution2 a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
  .header-titulo {
    margin: 30px 0 30px;
    font-size: 1.2em;
  }
  .calculadora-container {
    width: 900px;
    display: flex;
    gap: 50px;
  }
  .inputs-seccion {
    flex: 1;
  }
  .result-seccion {
    flex: 1;
  }
  .btns__boton {
    width: 120px;
  }
  .btns__boton {
    width: 100%;
  }
  .attribution {
    margin: 100px 0 100px;
  }
  .attribution2 {
    margin: 100px 0 100px;
  }
  .resultado__odd1, .resultado__odd2 {
    font-size: 0.8em;
  }
  .resultado__valor1, .resultado__valor2 {
    font-size: 0.7em;
  }
  .resultado__tip-odd1, .resultado__tip-odd2 {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */