@use "variables";

@use "inicial";

@use "mixins";

.header-titulo{
    text-align: center;
    color: variables.$Very-dark-cyan-two;
    font-size: 1em;
    margin: 30px 0;
    letter-spacing: 8px;
}
.pressed-titulo{
    margin: 10px 0;
}

.calculadora-container{
    background-color: variables.$White;
    width: 375px;
    margin: auto;
    border-radius: 16px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hidden{
    display: none;
}

.input-seccion__odd-label{
    @include mixins.label;
}

.input-seccion__odd-input{
    @include mixins.input('../images/sure.svg');
    background-color: variables.$Very-lightgrayish-cyan;
}

.input-seccion__monto-label{
    @include mixins.label;
}

.input-seccion__monto-input{
    @include mixins.input('../images/icon-dollar-two.svg');
    background-color: variables.$Light-grayish-cyan;
}


.btns{
    @include mixins.btns;
    margin-bottom: 15px;
    grid-template-columns: 1fr 1fr;
}

.btns-status{
    @include mixins.btns;
    margin-bottom: 15px;
    grid-template-columns: 1fr;
}
.btns-status-pressed{
    @include mixins.btns;
    margin-bottom: 5px;
    grid-template-columns: 1fr;
}
.pressed-status{
    margin-bottom: 1px;
}

.btns-status__boton{
    width: 100%;
    height: 30px;
    font-size: 0.8em;
    font-family: variables.$font;
    border: none;
    border-radius: 4px;
    color: variables.$White;
    background-image: linear-gradient(to left, variables.$Very-dark-cyan, variables.$Strong-cyan);
}
.pressed{
    width: 147;
    font-size: 1em;
    height: 45px;
}
  
.btns__boton{
    width: 147px;
    height: 45px;
    font-size: 1em;
    @include mixins.btns-boton(variables.$Very-dark-cyan);
    &__custom{
        background-color: variables.$Dark-grayish-cyan;
        width: 100%;
        &__add{
            background-color: variables.$Strong-cyan;
            width: 100%;
            &:hover{
                cursor: pointer;
                background-color: variables.$Strong-cyan-two;
            }
        }
    }
    
}

.error{
    border: 2px solid red;
}

.result-seccion{
    background-color: variables.$Very-dark-cyan;
    border-radius: 8px;
    padding: 32px 24px 24px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__odd1{ 
        font-size: 0.5em;
        color: variables.$Very-lightgrayish-cyan
    }
    &__valor1{
        font-size: 0.65em;
        color: variables.$Light-grayish-cyan;
    }
    &__tip-odd1{
        font-size: 0.9em;
        color: variables.$Strong-cyan;
        text-align: right;
    }
    &__odd2{
        @extend .resultado__odd1;
    }
    &__valor2{
        @extend .resultado__valor1;
    }
    &__tip-odd2{
        @extend .resultado__tip-odd1;
    }
    &__odd3{
        @extend .resultado__odd1;
    }
    &__valor3{
        @extend .resultado__valor1;
    }
    &__tip-odd3{
        @extend .resultado__tip-odd1;
    }
    &__result-abajo{
        display: grid;
        font-size: 0.5em;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
        color: variables.$Light-grayish-cyan;
        &__porcentaje{
            background: url('../images/percent.svg') no-repeat 10px center;
            background-size: 0.8em;
            padding-left: 30px;
        }
        &__ganancia{
            background: url('../images/icon-dollar.svg') no-repeat 10px center;
            background-size: 0.8em;
            padding-left: 30px;
        }

    }
    
}

.result-seccion__reset{
    background-color: variables.$Strong-cyan;
    font-family: variables.$font;
    color: variables.$Very-dark-cyan;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1em;
    height: 50px;
    margin-top: 10px;
    transition-duration: 1s;
    &:hover{
        cursor: pointer;
        background-color: variables.$Strong-cyan-two;
    }
}
.attribution { 
    font-size: 14px; 
    text-align: center; 
    margin: 35px 0;
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}

///////////////////////////            Desktop        ////////////////////////
@media (min-width: 1024px){
    .header-titulo{
        margin: 30px 0 30px;
        font-size: 1.2em;
    }

    .calculadora-container{
        width: 900px;
        display: flex;
        gap: 50px;
    
    }
    .inputs-seccion{
        flex : 1;
    }

    .result-seccion{
        flex: 1;
    }

    .btns{
        &__boton{
            width: 120px;
        }
        
    }
    .btns__boton{
        width: 100%;
    }
    .attribution{
        margin: 40px 0 100px;
    }
    .resultado{
        &__odd1{
            font-size: 0.8em;
        }
        &__valor1{
            font-size: 0.7em;
        }
        &__tip-odd1{
            font-size: 1em;
        }
        &__odd2{
            @extend .resultado__odd1;
        }
        &__valor2{
            @extend .resultado__valor1;
        }
        &__tip-odd2{
            @extend .resultado__tip-odd1;
        }
    }
}