@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  color: #007F73;
  background-color: #FFF455;
  font-family: "Space Mono", monospace;
  position: relative;
  margin: 0;
  min-height: 100vh;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.nav-2 {
  display: none;
}

a,
a:visited,
a:active {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #007F73;
}
a:hover,
a:visited:hover,
a:active:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.wrapper {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
}

.header-titulo {
  text-align: center;
  color: #007F73;
  font-size: 1em;
  margin: 30px 0;
  letter-spacing: 8px;
}

.pressed-titulo {
  margin: 10px 0;
}

.calculadora-container {
  background-color: white;
  width: 375px;
  margin: auto;
  border-radius: 16px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

.input-seccion__odd-label {
  color: #007F73;
  font-size: 0.75em;
  margin-bottom: 3px;
}
.input-seccion__odd-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: #FFC700;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: #FFF455;
  background: url("../images/sure.svg") no-repeat 10px center;
  background-size: 0.8em;
  background-color: #FFF455;
}
.input-seccion__odd-input:hover {
  cursor: pointer;
}
.input-seccion__odd-input:focus {
  outline: none;
  border: 2px solid #007F73;
}
.input-seccion__odd-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-seccion__monto-label {
  color: #007F73;
  font-size: 0.75em;
  margin-bottom: 3px;
}
.input-seccion__monto-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: #FFC700;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: #FFF455;
  background: url("../images/icon-dollar-two.svg") no-repeat 10px center;
  background-size: 0.8em;
  background-color: #FFF455;
}
.input-seccion__monto-input:hover {
  cursor: pointer;
}
.input-seccion__monto-input:focus {
  outline: none;
  border: 2px solid #007F73;
}
.input-seccion__monto-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-seccion__titulo {
  font-size: 0.8em;
  color: #007F73;
  margin-bottom: 10px;
}

.input-seccion-v4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input-seccion-v4__odd-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: #FFC700;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: #FFF455;
  background: url("../images/chart-pie-alt.svg") no-repeat 10px center;
  background-size: 0.8em;
  background-color: #FFF455;
}
.input-seccion-v4__odd-input:hover {
  cursor: pointer;
}
.input-seccion-v4__odd-input:focus {
  outline: none;
  border: 2px solid #007F73;
}
.input-seccion-v4__odd-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns {
  border: none;
  display: grid;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  grid-template-columns: 1fr 1fr;
}

.btns__boton {
  width: 147px;
  height: 45px;
  font-size: 1em;
  background-color: #007F73;
  font-family: "Space Mono", monospace;
  border: none;
  border-radius: 4px;
  color: white;
  transition-duration: 1s;
}
.btns__boton:hover {
  cursor: pointer;
  background-color: #007F73;
}
.btns__boton__custom {
  background-color: #007F73;
  width: 100%;
}
.btns__boton__custom__add {
  background-color: #4CCD99;
  width: 100%;
  color: whitesmoke;
}

.btns-status {
  border: none;
  display: grid;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  grid-template-columns: 1fr;
}

.btns-status__boton {
  width: 100%;
  height: 30px;
  font-size: 0.8em;
  font-family: "Space Mono", monospace;
  border: none;
  border-radius: 4px;
  color: #FFF455;
  background-color: #007F73;
}
.btns-status__boton.isSurbet {
  background-color: #FFC700;
  color: white;
}
.btns-status__boton.noSurbet {
  background-color: #4CCD99;
  color: white;
}

.result-seccion {
  background-color: #007F73;
  border-radius: 8px;
  padding: 32px 24px 24px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultado {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.resultado__odd {
  font-size: 0.6em;
  color: whitesmoke;
}
.resultado__valor {
  font-size: 0.65em;
  color: #FFF455;
}
.resultado__tip-odd {
  font-size: 0.9em;
  color: #FFF455;
  text-align: right;
}
.resultado__result-abajo {
  display: grid;
  font-size: 0.6em;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  color: #FFF455;
}
.resultado__result-abajo__porcentaje {
  background: url("../images/percentage.svg") no-repeat 10px center;
  background-size: 0.8em;
  padding-left: 30px;
}
.resultado__result-abajo__ganancia {
  background: url("../images/icon-dollar.svg") no-repeat 10px center;
  background-size: 0.8em;
  padding-left: 30px;
}

.result-seccion__reset {
  background-color: #4CCD99;
  font-family: "Space Mono", monospace;
  color: whitesmoke;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 1em;
  height: 50px;
  margin-top: 10px;
  transition-duration: 1s;
}

.attribution {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.attribution a {
  color: #007F73;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .header-titulo {
    margin: 30px 0 30px;
    font-size: 1.2em;
  }
  .calculadora-container {
    width: 900px;
    display: flex;
    gap: 50px;
  }
  .inputs-seccion {
    flex: 1;
  }
  .result-seccion {
    flex: 1;
  }
  .btns__boton {
    width: 120px;
  }
  .btns__boton {
    width: 100%;
  }
  .attribution {
    margin: 100px 0 100px;
  }
}/*# sourceMappingURL=style.css.map */