@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

.header-titulo {
  text-align: center;
  color: hsl(186, 14%, 43%);
  font-size: 1em;
  margin: 30px 0;
  letter-spacing: 8px;
}

.calculadora-container {
  background-color: hsl(0, 0%, 100%);
  width: 375px;
  margin: auto;
  border-radius: 16px;
  padding: 32px;
}

.input-seccion__odd-label {
  display: block;
  color: hsl(186, 14%, 43%);
  font-size: 0.75em;
  margin-bottom: 3px;
}

.input-seccion__odd-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: hsl(172, 67%, 45%);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: hsl(189, 41%, 97%);
  background: url("../images/sure.svg") no-repeat 10px center;
  background-color: hsl(189, 41%, 97%);
}
.input-seccion__odd-input:hover {
  cursor: pointer;
}
.input-seccion__odd-input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}
.input-seccion__odd-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-seccion__monto-label {
  display: block;
  color: hsl(186, 14%, 43%);
  font-size: 0.75em;
  margin-bottom: 3px;
}

.input-seccion__monto-input {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: right;
  caret-color: hsl(172, 67%, 45%);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background-color: hsl(189, 41%, 97%);
  background: url("../images/icon-dollar.svg") no-repeat 10px center;
  background-color: hsl(185, 41%, 84%);
}
.input-seccion__monto-input:hover {
  cursor: pointer;
}
.input-seccion__monto-input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}
.input-seccion__monto-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.btns__boton {
  width: 147px;
  height: 45px;
  background-color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
  transition-duration: 1s;
}
.btns__boton:hover {
  cursor: pointer;
  background-color: hsl(172, 67%, 45%);
}
.btns__boton__custom {
  background-color: hsl(186, 14%, 43%);
}

.error {
  border: 2px solid red;
}

.result-seccion {
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  padding: 32px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultado {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.resultado__odd1, .resultado__odd2 {
  font-size: 0.5em;
  color: hsl(189, 41%, 97%);
}
.resultado__valor1, .resultado__valor2 {
  font-size: 0.65em;
  color: hsl(185, 41%, 84%);
}
.resultado__tip-odd1, .resultado__tip-odd2 {
  font-size: 0.9em;
  color: hsl(172, 67%, 45%);
  text-align: right;
}
.resultado__result-abajo {
  display: grid;
  font-size: 0.7em;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  color: hsl(185, 41%, 84%);
}
.resultado__result-abajo__porcentaje {
  background: url("../images/percent.svg") no-repeat 10px center;
  background-size: 0.8em;
  padding-left: 30px;
}
.resultado__result-abajo__ganancia {
  background: url("../images/icon-dollar.svg") no-repeat 10px center;
  background-size: 0.8em;
  padding-left: 30px;
}

.result-seccion__reset {
  background-color: hsl(172, 67%, 45%);
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 1em;
  height: 50px;
  margin-top: 10px;
  transition-duration: 1s;
}
.result-seccion__reset:hover {
  cursor: pointer;
  background-color: hsl(189, 41%, 97%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 40px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
  .header-titulo {
    margin: 60px 0 50px;
    font-size: 1.2em;
  }
  .calculadora-container {
    width: 900px;
    display: flex;
    gap: 50px;
  }
  .inputs-seccion {
    flex: 1;
  }
  .result-seccion {
    flex: 1;
  }
  .btns__boton {
    width: 120px;
  }
  .btns__boton {
    width: 100%;
  }
  .attribution {
    margin: 40px 0 100px;
  }
  .resultado__odd1, .resultado__odd2 {
    font-size: 0.8em;
  }
  .resultado__valor1, .resultado__valor2 {
    font-size: 0.7em;
  }
  .resultado__tip-odd1, .resultado__tip-odd2 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
